<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's posts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="index.html">Почетна</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="doctors.html">Доктори</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="forum.html">Форум</a>
            </li>
        </ul>
        <span class="mr-auto text-light"><h3>Доктори</h3></span>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Клучен збор" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пребарај</button>
        </form>
    </div>
</nav>

<div class="container">

    <div class="row mt-5 border-bottom justify-content-center">
        <h4 class="text-secondary">Докторски препораки</h4>
    </div>

    <div class="row mt-5">
        <div class="col-1 border-right">
            <img style="height: 60px; width: 60px;" src="img/doc1.png" alt="">
        </div>
        <div class="col-11">
            <h4><a class="text-success" href="details.html">Ана Анева</a></h4>
            <p>

                Мијте ги рацете често, користејќи сапун и вода, подолго од 1 минута, внимавајќи да ги опфатите сите делови од дланката и прстите.
                Избегнувајте близок контакт со болни лица или лица кои се вратиле од патување од земја со висок или среден ризик.
                Користете средства за дезинфекција или алкохолни марамчиња.
                При кашлање или кивање покријте ги носот и устата со марамче за еднократна употреба и веднаш потоа фрлете го на безбедно место. Доколку немате марамче, покријте ги носот и устата со рака свиткана во лактот.
                Следете ги препораките на Министерството за здравство и редовно информирајте се од надлежните институции за најновите вести и насоки.

            </p>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-1 border-right">
            <img style="height: 60px; width: 60px;" src="img/doc2.png" alt="">
        </div>
        <div class="col-11">
            <h4><a class="text-success" href="details.html">Митре Митрев</a></h4>
            <p>
                Според препораките и протоколите на Комисијата за заразни болести, сите патници, кои пристигнуваат од ризичните региони, како и тие кои се во самоизолација, веднаш штом почувствуваат какви било симптоми, карактеристични за КОВИД-19 треба да се јават на телефоните за контакт при епидемиолошките служби, кои се достапни за територијата на целата држава.
                Мерките се воведени од самиот почеток и се препорачува секој граѓанин да ги следи овие препораки, кои укажуваат да не се оди на матичен лекар за да се избегнат ситуации во кои тие се ставаат во директен контакт и ризик со можно заболени пациенти.
            </p>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-1 border-right">
            <img style="height: 60px; width: 60px;" src="img/doc3.png" alt="">
        </div>
        <div class="col-11">
            <h4><a class="text-success" href="details.html">Петко Петков</a></h4>
            <p>
                Останете дома, освен во случај на итност. Доколку имате можност, работете од дома.
                Одделете се од останатите во различни простории. Редовно проветрувајте ги просториите.
                Доколку имате на располагање, користете посебен тоалет/бања. Во спротивно редовно дезинфицирајте го оној кој сите го користат.
                Избегнувајте заедничко користење предмети за домаќинство како крпи за раце, постелнина, чаши, прибор за јадење.
                Доколку нарачувате храна/продукти преку достава, друг член на домаќинството да ги превзема, избегнете контакт со доставувачот.
                Бидете на безбедно растојание со другите помеѓу 1 и 2 метри.
                Чистете ги површините во домот коишто најчесто ги користите.
                Следете ги препораките за превенција од здравствените установи.
            </p>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-1 border-right">
            <img style="height: 60px; width: 60px;" src="img/doc4.png" alt="">
        </div>
        <div class="col-11">
            <h4><a class="text-success" href="details.html">Мартина Мартиновска</a></h4>
            <p>
                Се препорачува на возрасните и високоризичните категории на граѓани со хронични болести да го намалат своето движење и да го избегнуваат јавниот превоз.
                Се утврдуваат следните категории на лица кои треба да бидат ослободени од работа и работни активности врз основа на приложена потврда од матичен лекар за следниве состојби:
                Хронични респираторни заболувања;
                Тешки кардиоваскуларни заболувања;
                Дијабет – ТИП1;
                Малигни заболувања; и
                Имуно-компромитирачки состојби.
            </p>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-1 border-right">
            <img style="height: 60px; width: 60px;" src="img/doc5.png" alt="">
        </div>
        <div class="col-11">
            <h4><a class="text-success" href="details.html">Христина Христовска</a></h4>
            <p>
                КОВИД-19 е заболување предизвикано од SARS-CoV-2 , вирус од фамилијата Коронавирус, првично откриен во Кина во декември 2019 година. Вирусот е причинител на акутно вирусно респираторно заболување. Преносот од човек на човек е можен, преку допир и преку капков пат (кивање, кашлање и слично).
                Првичните искуства покажуваат дека постарите лица и хронично болните се изложени на поголем ризик од компликации и тешки форми на заболувањето. Периодот на инкубација на вирусот е најмногу 14 дена, во кој заразените лица не покажуваат симптоми, но можат да го пренесат вирусот на други лица.
                Сите патници кои доаѓаат од земјите со висок и среден ризик треба да се задржат во само-изолација од 14 дена во нивниот дом и да пријават на надлежните доколку почувствуваат симптоми.
            </p>
        </div>
    </div>

</div>

</body>
</html>